.services {
  text-align: center;
  background-size: cover;

  .title {
    font-size: 40px;
    margin-bottom: 0px;
    color: white;
    direction: rtl;
    text-shadow: 1px 3px 11px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
      font-size: 30px;
      margin-bottom:20px;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    position: relative;
    padding: 120px 20px 30px 20px;
    margin:20px;
    width: 300px;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    direction: rtl;
    text-align: start;
    transition: transform 0.3s;
    // border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; 
    @media screen and (max-width: 768px) {
      margin: 0px;
      width: 300px;
      height: 350px;
    }
    &:hover {
      transform: scale(1.05);
    }

    .cardTitle {
      font-size: 1.5em;
      margin-bottom: 10px;
      margin-top: 100px;
      text-align: center;
      padding: 0 10px;
    }

    .description {
      font-size: 1em;
      margin-bottom: 20px;
      padding: 0 10px;
    }

    .button {
      background: #ffffff;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      color: #0c1144;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services {
    padding: 0;
    margin-top: 50px;
  }

  .cards {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
  .card {
    padding:50px 10px 20px 10px;
    margin: 0px;
  }
}
