.services {
  text-align: center;
  padding: 20px 20px;
  background-size: cover;

  .title {
    font-size: 40px;
    margin-bottom: 40px;
    color: white;
    direction: rtl;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    position: relative;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 400px; /* Adjust height as needed */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    text-align: start;
    transition: transform 0.3s;
    // border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; /* Ensure the card is above any potential background elements */

    &:hover {
      transform: scale(1.05);
    }

    .cardTitle {
      font-size: 1.5em;
      margin-bottom: 10px;
      margin-top: 100px;
    }

    .description {
      font-size: 1em;
      margin-bottom: 20px;
    }

    .button {
      background: #ffffff;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      color: #0c1144;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services {
    padding: 0;
    margin-top: 50px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
