.landing {
  position: relative;
  display: flex;
  height: 120vh;
  overflow: hidden;
  padding: 0 6vw;

  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
    img {
      object-fit: cover;
      object-position: top center;
      mix-blend-mode: screen;
    }
  }

  @media (min-width: 768px) {
    .desktopImage {
      display: block;
      img {
        object-fit: cover;
        object-position: top center;
        mix-blend-mode: screen;
      }
    }

    .mobileImage {
      display: none;
    }
  }

  .mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    gap: 0;
    align-items: flex-start;
    z-index: 10;

    @media screen and (max-width: 768px) {
      justify-content: flex-start;
      padding: 3vw;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .moreButton {
    z-index: 10;
    top: 67%;
    background-color: #00c2ff;
    width: 180px;
    height: 70px;
    color: white;
    border-radius: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    p {
      margin: 0px;
      font-size: 16px;
      font-weight: 300;
      position: relative;
      z-index: 1;
    }

    @media (max-width: 768px) {
      top: 50%;
    }
  }

  .mainTitle {
    color: white;
    font-size: 5vw;
    font-weight: 300;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 45px;
      margin-top: 20vh;
    }

    p {
      margin: 10px;
    }
  }

  .description {
    color: white;
    font-size: 24px;
    font-weight: 300;

    p {
      margin: 0px;
      margin-bottom: 10px;
    }
  }

  .bottomForm {
    background: rgba(255, 255, 255, 0.15);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .rightDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;

      .bigTitle {
        font-size: 40px;
        margin: 0;
        color: white;
        font-weight: bold;
        line-height: 36px;
      }
    }

    .leftDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: row;
        gap: 5px;
      }
    }
  }
}

.smallTitlte {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: white;
}

@media screen and (max-width: 450px) {
  .landing {
    height: 1000px;
    padding: 0 3vw;
  }
}
