.landing {
  position: relative;
  display: flex;
  height: 120vh;
  overflow: hidden;
  padding: 0 6vw;
  @media screen and (min-width: 1568px) {
    height: 100vh;
  }
  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
    img {
      object-fit: cover;
      object-position: top center;
      mix-blend-mode: screen;
    }
  }
  br{
    display: none;
  }
  @media (min-width: 768px) {
    br{
      display: block;
    }
    .desktopImage {
      display: block;

       img {
        object-fit: cover;
        object-position: top center;
        mix-blend-mode: screen;
        transform: translateY(-8%); 
      }
    }

    .mobileImage {
      display: none;
    }
  }

  .mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
    gap: 0;
    align-items: flex-start;
    z-index: 10;

    @media screen and (max-width: 768px) {
      justify-content: flex-start;
      padding: 3vw;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .moreButton {
    z-index: 10;
    top: 65%;
    background-color: #00c2ff;
    width: 160px;
    height: 50px;
    color: white;
    border-radius: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media screen and (min-width: 1600px) {
      top: 67%;
    }
    p {
      margin: 0px;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      z-index: 1;
    }

    @media (max-width: 768px) {
      top: 48%;
    }
  }

  .mainTitle {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 40px;
      margin-top: 22vh;
    }

    p {
      margin: 10px;
    }
  }

  .description {
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
    font-weight: 300;

    p {
      margin: 0px;
      margin-bottom: 10px;
      margin-right: 10px;
      br {
        display: none;
      }
      @media screen and (max-width: 450px) {
        br {
          display: block;
        }
      }
    }
  }

  .bottomForm {
    background: rgba(14, 16, 85, 0.95);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 2px; /* Adjust the height as needed */
      background: linear-gradient(45deg, #7d13ff, #2c52d1, #15bffd);
    }
    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    .rightDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;

      .bigTitle {
        font-size: 40px;
        margin: 0;
        color: white;
        font-weight: bold;
        line-height: 36px;
      }
    }

    .leftDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: row;
        gap: 5px;
      }
    }
  }
}

.smallTitlte {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: white;
}

@media screen and (max-width: 450px) {
  .landing {
    height: 1000px;
    padding: 0 3vw;
  }
}
