$form-border-radius: 50px;
$form-color: #ffffff;
$form-border-color: #ffffff;
$form-background-opacity: 0.13;

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  color: $form-color;
  width: 70%;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
  }
}

.form2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  color: $form-color;
  width: 100%;
  margin: 0 50px;

  @media (min-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }
}

.input {
  background: rgba(18, 13, 82, $form-background-opacity);
  border: 1px solid white;
  color: white;
  width: 200px;
  border-radius: $form-border-radius;
  padding: 10px;
  flex: 1 1 0;

  @media (max-width: 768px) {
    margin-right: 0px;
    margin-bottom: 0;
    width: 92%;
  }

  &::placeholder {
    color: white;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.input2,
.select {
  background: rgba(255, 255, 255, $form-background-opacity);
  border: 2px solid white;
  color: white;
  width: 600px;
  border-radius: $form-border-radius;
  padding: 15px;
  flex: 1;

  @media (max-width: 768px) {
    margin-right: 0px;
    margin-bottom: 0;
    width: 100%;
  }

  &::placeholder {
    color: white;
    padding-right: 10px;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.select {
  background-color: rgba(255, 255, 255, $form-background-opacity);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: left 15px center;

  option {
    background-color: #0C1144;
  }

  @media (max-width: 768px) {
    padding: 15px;
  }
}

.button {
  background: #00c2ff;
  border: none;
  border-radius: $form-border-radius;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  flex: 1;
  transition: all 0.5s;

  &:hover {
    background: #9945ff;
  }

  @media (max-width: 768px) {
    flex: none;
  }
}

.button2 {
  background: #00c2ff;
  border: none;
  width: 150px;
  align-self: flex-end;
  border-radius: $form-border-radius;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  flex: 1;
  transition: all 0.5s;

  &:hover {
    background: #9945ff;
  }

  @media (max-width: 768px) {
    flex: none;
  }
}

.inputDiv {
  display: flex;

  position: relative;

}

.error {
  background-color: red;
  position: absolute;
  padding: 2px 5px;
  border-radius: 50px;
  color: white;
  font-size: 13px;
  left: 0;
  top: -5px;
}
