// styles/Form.module.scss
$form-border-radius: 50px;
$form-color: #ffffff;
$form-border-color: #ffffff;
$form-background-opacity: 0.2;

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  color: $form-color;
  width: 70%;
  max-width: 810px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.input {
  background: rgba(18, 13, 82, $form-background-opacity);
  border: 1px solid white;
  color: white;
  width: 200px;
  border-radius: $form-border-radius;
  padding: 10px;
//   margin-bottom: 10px;
  flex: 1 1 0;

  @media (max-width: 768px) {
    margin-right:0px;
    margin-bottom: 0;
    width: 100%;
  }

  &::placeholder {
    color: white;
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.button {
  background: #00c2ff;
  border: none;
  border-radius: $form-border-radius;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  flex: 1;
  transition: all 0.5s;
  &:hover {
    background: #9945ff;
  }

  @media (max-width: 768px) {
    flex: none;
  }
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
