.clients {
  position: relative;
  text-align: center;
  direction: rtl;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
  background: rgb(12, 17, 68);
  background: linear-gradient(
    180deg,
    rgba(12, 17, 68, 0.7793242296918768) 58%,
    rgba(0, 0, 0, 0) 100%
  );

  .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 3px 11px rgba(0,0,0,0.5);
    @media screen and (max-width: 768px){
      font-size: 30px;
    }
  }

  .mainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 90px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 1s;

    &.fadeIn {
      opacity: 1;
      transform: translateY(0);
    }

    .image {
      width: 140px;
      height: 40px;
      object-fit: contain;
    }
  }

  @media screen and (max-width: 768px) {
    .clients {
      margin-top: -200px;
    }
  }
}
