.clients {
    position: relative;
    text-align: center;
    // padding: 50px 20px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
    .title {
      font-size: 2em;
      margin-bottom: 40px;
      color: white;
    }
  
    .mainDiv {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }
  
    .client {
      display: flex;
      align-items: center;
      justify-content: center;
      width:120px;
      height: 90px;
      

  
      .image {
        width: 100px;
        height: 50px;
      }
    }
    @media screen and (max-width: 768px){
        .clients{
            margin-top:-200px;
        }
    }
  }
  