.clients {
    position: relative;
    text-align: center;
    // padding: 50px 20px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .title {
      font-size: 2em;
      margin-bottom: 40px;
      color: white;
    }
  
    .mainDiv {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .client {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      

  
      .image {
        width: 150px;
        height: 70px;
      }
    }
  }
  