// styles/Form.module.scss

.sliderBody {
  background-color: transparent;
  padding-bottom: 200px;
  overflow: hidden;
  background-color: #0c114400;
  text-align: center;
}
.title {
  color:white;
  font-size:40px;
  margin-bottom: -40px;
  text-shadow: 1px 3px 11px rgba(0,0,0,0.5);
  @media screen and (max-width: 768px){
    font-size: 30px;
  }
}
.slidingImages {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  margin-top: 100px;
  background-color: #0c114400;
  z-index: 1;

  .slider {
    display: flex;
    position: relative;
    gap: 3vw;
    width: 120vw;
    overflow: hidden;
    left: -10vw;

    .project {
      width: 25%;
      height: 20vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
        }
      }
    }
  }

  .circleContainer {
    background-color:  #0c1144;
    position: relative;
    margin-top: 100px;

    .circle {
      height: 1550%;
      width: 120%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: #0c1144;
      z-index: 1;
      position: absolute;
      box-shadow: 0px 60px 20px 1px rgba(0, 0, 0, 0.103);
    }
  }

  @media screen and (max-width: 450px) {

    padding: 0;

    .slider {
      width: 1000px;
      left: -50vw;
    }

    .project {
      width: 80vw !important; // Make each project take 80% of the viewport width
      height: 40vw !important; // Adjust height proportionally

      .imageContainer {
        width: 100% !important; // Full width for image container
        height: 100% !important;
      }
    }
  }
}
