.main {
    background-color: #0C1144;
    background-image: url("/images/main-bg-webp.webp");
    background-size: cover; /* Optional: To make sure the image covers the entire area */
    background-position: center; /* Optional: To center the image */
    padding: 3vw auto;
  }