.mainPrivacyPolicy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15vw 15vw;
    gap: 20px;
    direction: rtl;
    background-color: #0C1144;
    color: white;
}
