.description{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom:40px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    direction: rtl;
    background-color: rgba(12, 17, 68, 0.78);
    text-align: center;
    color: white;
    gap: 00px;
    font-size: 36px;
    @media screen and (max-width:450px) {
        padding:50px 20px 80px 20px;

    }
    .body{
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color:white;
        position: relative;
        direction: rtl;
        justify-content: center;
        .button{
            position: relative;
            width: 180px;
            height: 80px;
            background-color: #1C1D20;
            color: white;
            border-radius: 60px;
            display: flex;
            overflow: hidden;
            align-items: center;
            background-color: #00C2FF;
            justify-content: center;
            align-self: center;
            cursor: pointer;
        
            @media screen and (max-width:450px) {
                width: 180px;
                height: 80px;
            }
            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                position: relative;
                z-index: 1;
            }
        }
        p{
            margin: 0px;
            &:nth-of-type(1){
                font-size: 21px;
                gap: 8px;
                text-align: center;
                font-weight: 300;
                line-height: 1.3;
                span{
                    margin-right: 3px;
                }
                .mask{
                    position: relative;
                    overflow: hidden;
                    display: inline-flex;
                }
            }
            &:nth-of-type(2){
                font-size: 18px;
                width: 80%;
                font-weight: 300;
            }
        }

    }
    .moreWork{
        padding: 20px;
        border-radius: 40px;
        border: 1px solid grey;
    }
    
}
