.description {
  padding-left: 18vw;
  padding-right: 18vw;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  direction: rtl;

  text-shadow: 1px 3px 11px rgba(0,0,0,0.5);
  text-align: center;
  color: white;
  gap: 0px;
  font-size: 40px;
  font-weight: 600;
  br{
    display: none;
  }
  @media screen and (max-width: 450px) {
    padding: 50px 20px 80px 20px;
    font-size: 30px;
    br{
      display: block;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    position: relative;
    direction: rtl;
    justify-content: center;
    padding: 0 2vw;
    a{
      color: white;
      text-decoration: none;
    }
    .textDescription{
      font-size: 20px;
      font-weight: 300;

      .pTag{
        font-weight: 600;
      }
    }
    .button {
      position: relative;
      width: 180px;
      height: 50px;
      
      background-color: #1c1d20;
      color: white;
      border-radius: 60px;
      display: flex;
      overflow: hidden;
      align-items: center;
      background-color: #00c2ff;
      justify-content: center;
      align-self: center;
      cursor: pointer;

      @media screen and (max-width: 450px) {
        width: 180px;
        height: 50px;
      }
      p {
        margin: 0px;
        font-size: 18px !important;
        font-weight: 600 !important;
        position: relative;
        z-index: 1;
      }
    }
    p {
      margin: 0px;
      &:nth-of-type(1) {
        font-size: 21px;
        gap: 8px;
        text-align: center;
        font-weight: 300;
        line-height: 1.3;
        span {
          margin-right: 3px;
        }
        .mask {
          position: relative;
          overflow: hidden;
          display: inline-flex;
        }
      }
      &:nth-of-type(2) {
        font-size: 18px;
        width: 80%;
        font-weight: 300;
      }
    }
  }
  .moreWork {
    padding: 20px;
    border-radius: 40px;
    border: 1px solid grey;
  }
}
