.header{
    position: absolute;
    display: flex;
    z-index: 25;
    top: 0;
    color: white;
    padding: 3vw 6vw;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;
    @media screen and (max-width: 768px) {
        justify-content: center;
        
    }
    .logo{
        display: flex;
        cursor: pointer;

    }
    .nav{
        display: flex;
        align-items: center;

        .el{
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            padding: 15px;
            cursor: pointer;
            &:hover{
                .indicator{
                    transform: scale(1);
                }
            }
            .indicator{
                position: absolute;
                width: 5px;
                height: 5px;
                top: 45px;
                left: 50%;
                background-color: white;
                border-radius: 50%;
                transform: scale(0) translateX(-50%);
                transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
            }
        }
        a{
            cursor: pointer;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    } 
}

.headerContact {
    padding: 15px 29px;
    border-radius: 50px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
    z-index: 105;
    position: relative;
    background: rgba(255, 255, 255, 0.21);
    overflow: hidden;
    transition: background 0.3s, border-color 0.3s;
    border: 0px solid transparent;
  
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, #7D13FF, #2C52D1, #15BFFD);
      z-index: -1;
      border-radius: inherit;
      padding: 2px; /* Adjust padding to control the border thickness */
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: exclude;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
    }
  
    &:hover {
      background: #9945FF;
      &:before {
        background: linear-gradient(45deg, #15BFFD, #2C52D1, #7D13FF);
      }
    }
  }
  
  
  
  
.headerButtonContainer{
    transform: scale(0);
    position: fixed;
    right: 0px;
    z-index: 100;

    .button{
        position: relative;
        margin: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #00C2FF;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .burger{
        width: 100%;
        position: relative;
        z-index: 1;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }
    
        &::after{
            top: -5px;
        }
    
        &::before{
            top: 5px;
        }
    }
    
    .burgerActive{
    
        &::after{
            transform: rotate(45deg);
            top: -1px;
        }
    
        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}

