// styles/style.module.scss

.menu {
    height: 100vh;
    background-color: #0C1144;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 135;
    direction: rtl;
    width: 400px; 
  
    @media screen and (max-width: 768px) {
      width: 100%; 
    }
  
    .body {
      box-sizing: border-box;
      height: 100%;
      padding: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      @media screen and (max-width: 768px) {
        padding: 20px;
        width: 100%;
      }
  
      .nav {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        gap: 12px;
        margin-top: 30px;
  
        .header {
          color: rgb(153, 153, 153);
          border-bottom: 1px solid rgb(153, 153, 153);
          text-transform: uppercase;
          font-size: 11px;
          margin-bottom: 40px;
        }
  
        a {
          text-decoration: none;
          color: white;
          font-weight: 300;
        }
      }
    }
  
    .closeButton {
      position: absolute;
      background-color: black;
      padding: 10px 10px 5px 10px;
        border-radius: 50%;
      top: 20px;
      left: 20px; // Adjust according to your RTL design
      cursor: pointer;
      z-index: 40;
  
      @media screen and (max-width: 768px) {
        top: 10px;
        left: 10px;
      }
    }
  }
  