.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  direction: rtl;
  overflow: hidden;
  color: white;
  padding: 0 10vw;
  .titleCarousel {
    position: relative;
    font-size: 2em;
    margin-bottom: 60px;
    color: white;
  }
  .topCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
  }
  .bottomCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    direction: ltr;
  }
  .contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: start;
    .titleContainer {
      padding: 0 0 0.5rem 0;
    }

    .descriptionContainer {
      padding: 0 0 1rem 0;
      max-width: 500px;
    }
  }
  .imageWrapper {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .imagesContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: relative;

    .firstContainer {
      z-index: 2;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .first {
        height: 271px;
        width: 389px;
        border-radius: 7px;
        object-fit: fill;
      }
      @media screen and (min-width: 1600px){
        width: clamp(25rem, 22.5vw, 25rem);
        height: auto;
        .first {
          height: 325px;
          width: 450px;
          border-radius: 7px;
          object-fit: fill;
        }
      }
    }

    .secondContainer {
      z-index: 1;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .second {
        height: 271px;
        width: 389px;
        border-radius: 7px;
        object-fit: fill;
      }
      @media screen and (min-width: 1600px){
        width: clamp(25rem, 22.5vw, 25rem);
        height: auto;
        .second {
          height: 325px;
          width: 450px;
          border-radius: 7px;
          object-fit: fill;
        }
      }
    }

    .thirdContainer {
      z-index: 0;
      width: clamp(20rem, 22.5vw, 25rem);
      height: auto;
      position: absolute;

      .third {
        height: 271px;
        width: 389px;
        border-radius: 7px;
        object-fit: fill;
      }
      @media screen and (min-width: 1600px){
        width: clamp(25rem, 22.5vw, 25rem);
        height: auto;
        .third {
          height: 325px;
          width: 450px;
          border-radius: 7px;
          object-fit: fill;
        }
      }
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;

    width: 10rem;
    z-index: 3;
    transform: translateY(5rem);
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      margin-bottom:25px ;

    }
    .previousContainer,
    .nextContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.1);
      transition: border-color 0.3s ease, transform 0.3s ease;
      height: 4.5rem;
      width: 4.5rem;
    }

    .previousContainer:hover,
    .nextContainer:hover {
      border-color: #00c2ff;
      transform: scale(1.05);
    }

    .disabled {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: solid 2px transparent;
      transition: border-color 0.3s ease, transform 0.3s ease;
      height: 4.5rem;
      width: 4.5rem;
      cursor: inherit;
    }
  }
}


.divider {
  height: 4px;
  background: linear-gradient(45deg, #7d13ff, #2c52d1, #15bffd);
  margin-bottom: 20px;
  width: 50%;
}

.buttonContainer {
  margin-top: 20px;
  .LiveSite {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: solid 2px #00b7ff;
    border-radius: 30px;

    &:hover {
      background-color: #00b7ff;
      color: white;
    }
  }
}





@media screen and (max-width: 950px) {
  .carouselContainer {
    height: 800px;
    position: relative;
    flex-direction: column;
    margin-top:50px;
    .titleCarousel {
      position: absolute;
      top:0;
      font-size: 2em;
      margin-bottom: 60px;
      color: white;
    }
    .topCarousel {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      width: 350px;
      margin-top: 70px;
    }

    .bottomCarousel {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;

      top:27%;
      width: 100%;
      direction: ltr;
      .controls {
        display: flex;
        justify-content: space-between;
        width: 10rem;
        z-index: 3;
        transform: translateY(5rem);
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          outline: none;
        }

    

      }
    }
    .contentContainer {
      padding: 9rem 0 4rem 0;


    }
    .imagesContainer {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      position: relative;
  
      .firstContainer {
        z-index: 2;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
        position: absolute;
  
        .first {
          height: 200px;
          width: 320px;
          border-radius: 7px;
          // object-fit: fill;
        }
      }
  
      .secondContainer {
        z-index: 1;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
        position: absolute;
  
        .second {
          height: 200px;
          width: 320px;
          border-radius: 7px;
        }
      }
  
      .thirdContainer {
        z-index: 0;
        width: clamp(20rem, 22.5vw, 25rem);
        height: auto;
        position: absolute;
  
        .third {
          height: 200px;
          width: 320px;
          border-radius: 7px;
        }
      }
    }
  }
}


